!!! 5
%html
  %head
    %title Web
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag 'application'
  %body

    = yield
